@import"variables";
@import "mixin";
@import"index";
@import"servicios";
@import"formulario";
@import"casas";
@import"deptos";
@import"casa1";
@import"depto1";
@import"media";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}